<div class="login-page">
  <div class="form">
    <a href="/"><div id="logo-container">
        <%= image_tag('logo.png', :size => '230x67', :alt => 'logo') %>
    </div></a>
      <%= form_for(@user) do |f| %>
          <%= f.text_field :first_name, :placeholder => 'Nome' %>
          <%= f.text_field :last_name, :placeholder => 'Sobrenome' %>
          <%= f.text_field :username, :placeholder => 'Nome de usuário' %>
          <%= f.email_field :email, :placeholder => 'Email' %>
          <%= f.password_field :password, :placeholder => 'Senha' %>
          <%= f.submit 'Cadastrar-se', class: 'btn btn-login' %>
      <% end %>

  </div>
</div>