<body class="login-bg">
  <div class="login-page">
    <div class="form">

      <!--Application logo-->
      <div id="logo-container">
        <%= image_tag('topbox_logo.png', :size => '198x67', :alt => 'logo') %>
      </div>

      <!--Sign in form-->
      <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group input-group">
            <span class="input-group-addon" style="background:#FFFFFF"><i class="glyphicon glyphicon-user" style="color:#045FB4"></i></span>
            <%= f.text_field :find_user, :placeholder => t(:login_user) , :required => true, :class => 'form-control' %>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon" style="background:#FFFFFF"><i class="glyphicon glyphicon-lock" style="color:#045FB4"></i></span>
            <%= f.password_field :login_password, :placeholder => t(:login_password), :maxlength => 30, :minlength => 6, :required => true, :class => 'form-control' %>
          </div>

          <!--Sign in button-->
          <%= f.submit t(:login), :class => 'btn btn-login' %>

          <!--Flash messages-->
          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= value %></strong>
              </div>
          <% end %>

          <p class="message"> <%= t(:login_msg) %> <a href="/signup"> <%= t(:login_singup) %> </a></p>
      <% end %>
    </div>

  </div>
</body>

<div class="idiom">
  <%= link_to 'Português (Brasil)', change_idiom_pt_url, method: :post, :onclick => 'refresh()' %>
  &emsp;
  <%= link_to 'English (US)', change_idiom_en_url, method: :post, :onclick => 'refresh()' %>
</div>