<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
  <%= render 'sidebar' %>
  </div>
<div class="col-sm-10">

  <p id="notice"><%= notice %></p>

  <table class="table table">

    <% unless Permission.where(user_id: get_current_user.id).length == 0 %>
      <thead>
      <tr class="subtitle">
        <th>Nome</th>
        <th>Proprietário</th>
        <th>Última modificação</th>
        <th>Opções</th>
      </tr>
      </thead>


      <!-- Documents -->
      <% @shared_files.each do |permission| %>
      <% document = permission.privacy.shareable %>
      <tr>
            <td>
            <%= content_tag('i', nil, class: 'glyphicon glyphicon glyphicon-file blue') %>           
            <%= link_to document.name + "." + document.extension, document %>
            </td>
            <td>
            <%= permission.privacy.shareable.user.get_name %>
            </td>
            <td><%= document.updated_at.localtime.strftime('%d/%m/%Y às %H:%M') %></td>
            <td>
            
            <%= link_to document_download_url(document) , data: { no_turbolink: true }, :target => "_blank" do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-download-alt blue') %>
                <% end %>&nbsp&nbsp

            <% if document.privacy.permissions.any?{|permission| permission.user_id == get_current_user.id && permission.Editar?}%><%= link_to edit_document_path(document) do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil blue') %>
                <% end %>&nbsp&nbsp
            <% end %>

            </td>
          </tr>
      <% end %> 
      </tbody>
    <% else %>
      <h2 class="light-silver"><center>Nenhum arquivo foi compartilhado com você.</center></h2>
    <% end %>
  </table>
</div>
    
</div>