<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
  <%= render 'sidebar' %>
  </div>
<div class="col-sm-10">

  <p id="notice"><%= notice %></p>

  <table class="table table">
    <thead>
    <tr class="subtitle">
      <th>Nome</th>
      <th>Última modificação</th>
      <th>Opções</th>
    </tr>
    </thead>


    <!-- Documents -->
    <% Permission.where(user_id: get_current_user.id).each do |permission| %>
    <% document = permission.privacy.shareable %>
    <tr>
          <td>
          <%= content_tag('i', nil, class: 'glyphicon glyphicon glyphicon-file blue') %>           
          <%= link_to document.name + "." + document.extension, document %>
          </td>
          <td><%= document.updated_at.localtime.strftime('%d/%m/%Y às %H:%M') %></td>


          <td>
          <%= link_to edit_document_path(document), class: 'btn btn-primary btn-circle btn-sm' do %>
          <%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil white') %>
          <% end %>

          <%= link_to document, method: :delete, data: {confirm: 'Você tem certeza?'} , class: 'btn btn-info btn-primary btn-circle btn-sm' do %>
          <%= content_tag('i', nil, class: 'glyphicon glyphicon-trash white') %>
          <% end %>

          <%= link_to new_permission_path + '?p='+document.privacy.id.to_s, data: { no_turbolink: true }, class: 'btn btn-primary btn-circle btn-sm' do %>
          <%= content_tag('i', nil, class: 'glyphicon glyphicon-share') %>
          <% end %>
          </td>
        </tr>
    <% end %>
        



    </tbody>
  </table>
</div>
    
</div>