<div class="container-fluid">
<div class="row">
  <div class="col-sm-2">
  <%= render 'sidebar' %>
  </div>
<div class="col-sm-10">
  <% set_current_folder(@folder) %>

  <p id="notice"><%= notice %></p>

  <ol class="breadcrumb">
    <% parent = @folder.parent %>
  <%= until parent.nil? do %>
  <li><%=link_to parent.name, parent%></li>
    <% parent = parent.parent %>
  <% end %>
    <li class="active"> <%= @folder.name unless @folder.nil?%></li>
</ol>


<div class="row">
    <% Folder.where(parent_id: @folder.id, user_id: get_current_user.id).each do |folder| %>
    <% mode1 = '<a href='+ folder_url(folder) + ' class="list-group-item active" >' %>
      <div class="col-sm-2">
      <div class="list-group">
      <center>
      <%= mode1.html_safe %>
      <h2 class="list-group-item-heading">
        <span class="glyphicon glyphicon-folder-open white"></span> 
      </h2>
    <p class="list-group-item-text"><h5><%= folder.name %></h5></p>
  </a></center>
</div>
</div>
<% end %>
</div>

  <table class="table table">
    <thead>
    <tr class="subtitle">
      <th>Nome</th>
      <th>Última modificação</th>
      <th>Opções</th>
    </tr>
    </thead>


    <!-- Documents -->
    <% Document.where(folder_id: @folder.id).each do |document| %>
        <tr>
          <td>
            <span class="glyphicon glyphicon-file silver"> </span> &nbsp
            <%= link_to document.name, document %>
          </td>
          <td><%= document.updated_at.localtime.strftime('%d/%m/%Y às %H:%M') %></td>
          <td><span class="glyphicon glyphicon-pencil silver" aria-hidden="true"></span>
            &nbsp <%= link_to 'Editar', edit_document_path(document) %></td>
          <td><span class="glyphicon glyphicon-trash silver">  </span>
            &nbsp <%= link_to 'Apagar', document, method: :delete, data: {confirm: 'Você tem certeza?'} %></td>
        </tr>
    <% end %>

    <!-- Folder Modal -->
    <div id="createFolderModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nova Pasta</h4>
          </div>
          <div class="modal-body">
            <%= render 'folders/create' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Menu -->
    <div id="menu" class="modal fade" role="dialog">
      <div class="btn-menu">

        <%= link_to '/create_doc', class: 'btn btn-info btn-circle btn-xl' do %>
            <%= content_tag('i', nil, class: 'glyphicon glyphicon-file') %>
        <% end %>


        <button type="button" class='btn btn-info btn-circle btn-xl' data-toggle="modal"
                data-target="#createFolderModal">
          <content class='glyphicon glyphicon-folder-open'/>
        </button>
<% unless @folder == find_mytopbox%> 

        <%= link_to @folder, method: :delete, data: {confirm: 'Você tem certeza?'} , class: 'btn btn-info btn-circle btn-xl' do %>
            <%= content_tag('i', nil, class: 'glyphicon glyphicon-trash white') %>
        <% end %>
        <!--<#%= link_to edit_folder_path(@folder.id), class: 'btn btn-primary btn-circle btn-xl' do %>-->
            <!--<#%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil') %>-->
        <!--<#% end %>-->

        <% end %>

      </div>
    </div>

    </tbody>
  </table>
</div>
    
</div>
<div class="footer"> <button type="button" data-toggle="modal" data-target="#menu" class="btn btn-primary btn-circle btn-xl lower-right">
      <i class="glyphicon glyphicon-plus"></i></button>
</div>
