<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render 'sidebar' %>
    </div>
    <div class="col-sm-10">

      <p id="notice">
        <% unless notice.nil? %>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <%= notice %>
          </div>
        <% end %>
      </p>

     

      <table class="table table-hover">
        <% unless @trash_folders.empty? && @trash_documents.empty? %>

        <!-- Basic Menu -->
        <div class="content-fluid">
          <div class="col-sm-offset-3 col-sm-7" >
          <ul class="nav nav-pills" >
          <li role="presentation"  >
          <%= link_to recycle_all_path, method: :post, data: {confirm: t(:confirm)}, :onclick => 'refresh()' do%>
            <span class = "glyphicon glyphicon glyphicon-repeat white"></span> <%= t(:restore)%>>
          <% end %></li>
          <li role="presentation"  >
          <%= link_to recycle_all_path, method: :post, data: {confirm: t(:confirm_empty)}, :onclick => 'refresh()' do%>
            <span class = "glyphicon glyphicon glyphicon-trash white"></span> <%= t(:empty)%>>
          <% end %></li>
          </ul>
          </div>
          </div>


            <thead>
            <tr class="subtitle">
              <th> <%= t(:name) %> </th>
              <th> <%= t(:last_modification) %> </th>
              <th> <%= t(:options) %> </th>
            </tr>
            </thead>

          <!-- Folders -->
          <% @trash_folders.each do |folder| %>
              <tr >
                <td>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon glyphicon-folder-close white blue') %>
                &nbsp&nbsp<%= link_to folder.name, folder, :onclick => 'refresh()' %>
                </td>
                <td><p class="text-muted">--</p></td>

                <td><%= link_to folder_recycle_path(folder), method: :post do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-repeat blue') %>
                <% end %>&nbsp&nbsp
                <%= link_to folder, method: :delete, data: {confirm: 'Você tem certeza?'}  do %>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-trash blue') %>
                <% end %>

                </td>              

              </tr>
          <% end %>

          <!-- Documents -->
          <% @trash_documents.each do |document| %>
              <tr >
                <td>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon glyphicon-file blue') %>           
                &nbsp <%= link_to document.name + "." + document.extension, document %>
                </td>
                <td><p class="text-muted"><%= document.updated_at.localtime.strftime('%d/%m/%Y às %H:%M') %></p></td>

                <td>
                <%= link_to document_recycle_path(document), method: :post do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-repeat blue') %>
                <% end %>&nbsp&nbsp

                <%= link_to document_url(document), method: :delete, data: {confirm: t(:confirm)} do %>
                    <%= content_tag('i', nil, class: 'glyphicon glyphicon-trash white') %>
                <% end %>&nbsp&nbsp

                </td> 

              </tr>

          <% end %>
          </tbody>

        <% else %>
          <h2 class="light-silver">
          <center>
              <%= t(:empty_msg)%>
              <%= image_tag('open_box.png', :size =>'100x100' ,:alt => t(:new_folder), :onclick => 'refresh()') %><br />
                  </center></h2>
        <% end %>
      </table>

     

    </div>
  </div>
 
</div>