<table>
  <tr>
    <th>ID      </th>
    <th>Nome    </th>
    <th>Conteúdo</th>
  </tr>

  <% @documents.each do |document| %>
      <tr>
        <td><%= document.id    %></td>
        <td><%= document.name    %></td>
        <td><%= document.content %></td>
        <td><%= link_to 'Show', document, action: :show %></td>

        <td>

          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <p><%= document.name%></p>
                </div>
                <div class="modal-body">
                  <p><%= document.content%></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </td>


        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<!-- Redireciona para a action new do controller_document -->
<%= link_to 'Novo', action: 'new' %>

