<table>
  <tr>
    <th>ID      </th>
    <th>Nome    </th>
    <th>Conteudo</th>
    <th>Folder </th>
  </tr>

  <% @documents.each do |document| %>
      <tr>
        <td><%= document.id    %></td>
        <td><%= document.name    %></td>
        <td><%= document.content %></td>
        <td><%= document.holder.name %></td>

        <td><%= link_to 'Show', document, action: :show %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<!-- Redireciona para a action new do controller_document -->
<%= link_to 'Novo', action: 'new' %>

