<div class="pre-scrollable">
  <div class="container">
    <strong> <%= t(:notifications)%> </strong>
    <% if current_user_notifications.empty? %>
      <li><%= t(:not_dft_msg) %></li>
    <% end %>
    <ul class="list-group">
    <%  current_user_notifications.each do |notification| %>
      <% notification.read ? state = 'disabled' : state ='' %>
      <% mode1 = '<a href='+ notification_url(notification) + ' class="list-group-item list-group-item-action '+ state+'" style="border: none" >' %>
      <%= mode1.html_safe %>
      <p>
        <strong><%= notification.notified_by.get_name %></strong> <%= t(:notf_1)%>
        <strong><%= notification.notifiable.name%></strong> <%= t(:notf_2)%>
        <h6> <span class ="glyphicon glyphicon-time"> </span> <%= t(:notf_3)%> <%= ((Time.parse(DateTime.now.to_s) - Time.parse(notification.created_at.to_s))/3600).round(0) %> <%= t(:notf_4)%> </h6></p>
      </a>
    <% end %>
    </ul>
  </div>
</div>