<h4> Seus dados </h4>


<%= form_for(@user) do |f| %>
	<div id="edit-fields">
	    <%= f.text_field :first_name, :placeholder => 'Nome', :autofocus => true, :class => "form-control", :value => @user.first_name %>
	    <%= f.text_field :last_name, :placeholder => 'Sobrenome', :class => "form-control", :value => @user.last_name %>
	    <%= f.text_field :username, :placeholder => 'Nome de usuário', :minlength => 6, :class => "form-control", :value => @user.username %>
	    <%= f.email_field :email, :placeholder => @user.email, :class => "form-control"%>
	    <%= f.hidden_field :password, :value => @user.password %>
	    <%= f.hidden_field :password_confirmation, :value => @user.password_confirmation %>
	    <!--<%= f.password_field :email, :placeholder => 'Senha antiga', :id => "old-password", :class => "form-control hidden" %>
	    <%= f.password_field :email, :placeholder => 'Nova senha', :id => "new-password", :class => "form-control hidden" %>
	    <%= f.password_field :email, :placeholder => 'Confirmar senha', :id => "confirm-password", :class => "form-control hidden"%>-->
    </div>

    <!--<button type="button" class='btn' onclick="editpassword()"> Editar senha</button>-->
    <%= f.submit 'Editar conta', class: 'btn' %>
<% end %>