<div class="container-fluid">
	<%= form_for(@user) do |f| %>
		<div>
			<a class="subtitle">Seus dados</a>
		    <%= f.text_field :first_name, :placeholder => 'Nome', :autofocus => true, :class => "form-control", :value => @user.first_name %>
		    <%= f.text_field :last_name, :placeholder => 'Sobrenome', :class => "form-control", :value => @user.last_name %>
		    <%= f.text_field :username, :placeholder => 'Nome de usuário', :minlength => 6, :class => "form-control", :value => @user.username %>
		    <%= f.email_field :email, :placeholder => @user.email, :class => "form-control"%>
		</div>
		<br>
		<div id="password-fields" class="hidden">
			<a class="subtitle">Editar senha</a>
		    <%= f.password_field :old_password, :placeholder => 'Senha antiga', :class => "form-control", :value => @user.password %>
		    <%= f.password_field :new_password, :placeholder => 'Nova senha', :class => "form-control" %>
		    <%= f.password_field :new_password_confirmation, :placeholder => 'Confirmar nova senha', :class => "form-control" %>
		    <br>
	    </div>

	    <%= f.submit 'Editar conta', class: 'btn btn-primary pull-right' %>
	    <button type="button" class='btn btn-primary pull-right' onclick="editpassword()"> Editar senha</button>
	<% end %>
</div>