<body class="login-bg">
    <div class="login-page">
      <div class="form">

        <!--Application logo-->
        <a href="/">
          <div id="logo-container">
            <%= image_tag('topbox_logo.png', :size => '198x67', :alt => 'logo') %>
          </div>
        </a>

        <!--Sign up form-->
        <%= form_for(@user) do |f| %>
            <%= f.text_field :first_name, :placeholder => t(:user_name), :autofocus => true, :class => "form-control" %>
            <%= f.text_field :last_name, :placeholder => t(:user_surname), :class => "form-control" %>
            <%= f.text_field :username, :placeholder => t(:user), :class => "form-control" %>
            <%= f.text_field :email, :placeholder => t(:user_mail), :class => "form-control" %>
            <%= f.password_field :password, :placeholder => t(:user_password), :class => "form-control" %>
            <%= f.password_field :password_confirmation, :placeholder => t(:user_confirm), :class => "form-control" %>
            <!--Submit sign up form button-->
            <%= f.submit t(:user_create), class: 'btn btn-login' %>

            <!--Flash messages-->
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %> fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= value %>
                </div>
            <% end %>

            <p class="message"> <%=t(:user_account)%> <a href="/login"><%=t(:user_access)%></a></p>
        <% end %>

      </div>
    </div>
</body>
