<body>
	<script type="text/javascript">
		if(location.search.indexOf('reloaded=yes') < 0){
		var hash = window.location.hash;
		var loc = window.location.href.replace(hash, '');
		loc += (loc.indexOf('?') < 0? '?' : '&') + 'reloaded=yes';
		setTimeout(function(){window.location.href = loc + hash;}, 0);
		}
	</script>

	<br>
	<div class="content">
		<%= form_for @document do |d| %>
			<a class="subtitle">Título:</a> <%= d.text_field :name, class: 'form-control' %>
	    	<br>

	    	<%= d.bootsy_area(:content, class: 'form-control doc-area', rows: 18) %>
	    	
	    	<p><a class="subtitle">Mover para:</a></p>
	    	<p><%= d.collection_select :folder, get_user_folders, :id, :name, {:selected => @document.folder.id}, {class: "select"}%></p>
            <br>
            
	  		<%= d.submit 'Salvar', class:'btn btn-primary pull-right' %>
	  		<%= link_to 'Voltar', folders_path, class: 'btn btn-secondary pull-right' %>
	  		<%= link_to 'Compartilhar', new_permission_path, class: 'btn btn-success pull-left' %>
	  	<% end %>
	</div>
</body>