<body class="login-bg">
<div class= "container-fluid"> 
  <div class="row pull-center" >
    <div class="col-sm-offset-2 col-sm-8 pull-center" >
      <div class="document-show"><center>
        <h1><strong><%= @document.name %> </strong></h1></center><br />
        
  		  <p>
          <% if @document.md? %>
            <%= @document.content.try(:html_safe) %>
          <% else %>
            <%= sanitize @document.content.gsub(/\n/,"<br/>"), :tags => ['br']  %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row" >

    <div class="col-sm-offset-2 col-sm-8" style="border: none" >
      <div class="list-group-item" >
        <div class="panel-body">
        <div
            class="fb-like"
            data-share="true"
            data-show-faces="true">
          </div>
          <div class= "container-fluid"> 

            <div class="col-sm-3">
              <b class="subtitle"> <%= t(:authors) %> </b>
  			  	  <p align=left>
                <%= @document.user.first_name %> <br />
                <% @document.privacy.permissions.each do |permission| %>
                  <% if permission.status == "Editar" %>
  			           <%= User.find(permission.user_id).first_name %> <br />
                  <% end %>
  			       <% end %> </p>
  			     </div>  

          <div class="col-sm-4">
            <b class="subtitle"> <%= t(:publication_date)%> </b>
            <p align=left>
              <%= @document.updated_at.localtime.strftime('%d/%m/%Y às %H:%M') %> <br />
            </p>
          </div>  

          <div class="col-sm-5">
            <% unless get_current_user.nil? %>
              <% if @document.user.id == get_current_user.id || @document.privacy.permissions.any?{|permission| permission.user_id == get_current_user.id && permission.Editar?}%> 
                <%= link_to edit_document_path(@document), tooltip: t(:edit_btn) do %>
                  <%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil blue')%>
                <% end %> &nbsp&nbsp
     
              <%= link_to document_download_url(@document), data: { no_turbolink: true }, :target => "_blank", tooltip: t(:download_btn) do  %> 
                <content class='glyphicon glyphicon-download-alt blue'/> 
              <% end %>  &nbsp&nbsp
              
              <% if @document.user.id == get_current_user.id %>
                <%= link_to new_permission_path + '?p='+@document.privacy.id.to_s, data: { no_turbolink: true }, tooltip: t(:share_btn) do %>
                  <%= content_tag('i', nil, class: 'glyphicon glyphicon-share blue') %>
                <% end %>
              <% end %>
            <% end %> &nbsp&nbsp

           <% if @document.user.id == get_current_user.id %>
            <%= link_to document_visibility_url(@document),  data: { no_turbolink: true }, tooltip: t(:share_link_btn) do %>
              <%= content_tag('i', nil, class: 'glyphicon glyphicon-link blue') %>
              <% end %>
              <% if @document.privacy.open? %>
                <span class="label label-success"> <%= t(:activated)%> </span>
                <span class="input-group-addon" id="basic-addon3"><%= document_url(@document) %></span>
              <% else %>
            <span class="label label-default"> <%= t(:disabled)%> </span>
            <% end %><br />
          <% end %>
          <% end %>

          </div>
        </div>
      </div>
  </div>  
</div>
</div>
</div>
</body>