<div class= "container-fluid"> 
  <div class="col-sm-9" >
  	<div class ="document-text">
      <h1 class="page-header"> <center><%= @document.name + "." %><strong><%= @document.extension %></strong> </center></h1>
    
		    <p> <% if @document.md? %>
              <%= @document.content.try(:html_safe) %>
            <% else %>
              <%= @document.content %>
            <% end %>
        </p>

    </div>
  </div>

    <div class="col-sm-3 table-col">

       <footer class="blockquote-footer"><span class="pull-right"> Criado por <strong class="subtitle"><%= @document.folder.user.first_name.to_s %></strong></span></footer><br>
    <div class="panel panel-default">
		  	<div class="panel-body">
          <b class="subtitle"> Compartilhado com: </b>
			  	<p align=right>
          <% @document.privacy.permissions.each do |permission| %>
			    <%= User.find(permission.user_id).first_name %> <br>
			   <% end %> </p>
			   </div>  
			</div>
      </div>

    <% if @document.user.id == get_current_user.id || @document.privacy.permissions.any?{|permission| permission.user_id == get_current_user.id && permission.contributor?}%>
	  <%= link_to edit_document_path(@document), class: 'btn btn-primary btn-circle btn-xl lower-left' do %>
    <%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil')%>
    <% end %>
    <% end %>


    <% if @document.user.id == get_current_user.id %>
      <%= link_to new_permission_path + '?p='+@document.privacy.id.to_s, data: { no_turbolink: true }, class: 'btn btn-primary btn-circle btn-xl lower-right' do %>
      <%= content_tag('i', nil, class: 'glyphicon glyphicon-share') %>
      <% end %>
    <% end %>
    </div>
</div>