  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<body class="login-bg">
    <div class="login-page">
  <center>
        <%= form_for(@permission) do  |f| %>
            <a class="subtitle">  <%= 'Document title will appear here' %></a>
            <br>
            </center>
            <br>
                  <%= f.check_box :write %>
                  <%= f.label "Pode editar o arquivo"%>
                  <br>
                <%= f.check_box :share %>

                <%= f.label "Pode Compartilhar o arquivo com outros" %>
                <br>
                <br>
                 <%= f.label :document_id %>
                <%= f.number_field :document_id %>
<center>
            <p><a class="subtitle">Compartilhar com:</a></p>
            <p> <%= f.collection_select :user_id, User.order(:first_name),:id,:first_name, include_blank: false %> </p>
            <br>
            <!--Submit sign up form button-->
            <%= f.submit 'Salvar', class: 'btn btn-login' %>
        <% end %>
</center>
    </div>
</body>
<center>
    <%= link_to 'Voltar', get_current_folder %>
</center>



