<body class="login-bg">
<div class="col-sm-offset-4 col-sm-4" >

    <div class="panel">
        <center>
            <h3 class="subtitle">
            <%= t(:share) %> <%= @permission.privacy.shareable.name %>
            </h3>            
            <br>
            <div class="panel-body">
                <%= form_for(@permission) do  |f| %>

                <p><a class="subtitle"> <%= t(:permission_type) %> </a></p>
                <p><%= f.collection_select :status, Permission.statuses.keys.to_a, :to_s, :to_s, {:selected => Permission.statuses.keys.to_a[0]}, {class: "select"}%> </p>

                <%= f.hidden_field :privacy_id %>
             
                <p><a class="subtitle"><%= t(:share_with) %>:</a></p>
                <p><%= f.email_field :email , :placeholder => t(:type_email), :required => true, :class => 'form-control' %></p>
                <%= f.hidden_field :user_id %>
                <br>         

                <!--Submit sign up form button-->
                <%= f.submit 'Salvar', :"data-no-turbolink" => true, class: 'btn btn-login' %>
                <%= link_to 'Voltar', get_current_folder, class: 'btn btn-secondary', :onclick => 'refresh()' %>
                
            <% end %>
            </div>

            <p id="notice">
                <% unless notice.nil? %>
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <%= notice %>
                    </div>
                <% end %>
            </p>

            <div class="alert alert-info" role="alert"> <%= t(:share_with_link)%>
            <%= link_to document_visibility_url(@permission.privacy.shareable) do %>
            <% if @permission.privacy.open? %> <span class="label label-success"> <%= t(:act_des) %> </span>
            <% else %> <span class="label label-default"> <%= t(:des_act) %> </span>
            <% end %>
            
            <% end %>
            </div>
        </center>

    </div>
    </div>
</body>
