
<body class="login-bg">

  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="login-page">
  <center>
          <h3>
          Compartilhar arquivo
          </h3>
            <a class="subtitle">  
            <%= Document.find(@permission.document_id).name unless @permission.document_id.nil? %></a>
            <br>
            </center>
            <br>
                  <%= form_for(@permission) do  |f| %>
                  <%= f.check_box :write %>
                  <%= f.label "Pode editar o arquivo"%>
                  <br>
                <%= f.check_box :share %>

                <%= f.label "Pode Compartilhar o arquivo com outros" %>
                <br>
                <br>
                <%= f.hidden_field :document_id%>
<center>
            <p><a class="subtitle">Compartilhar com:</a>
            <%= f.collection_select :user_id, all_users_except_current.order(:first_name), :id, :first_name, include_blank: false %> </p>
            <br>
            <!--Submit sign up form button-->
            <%= f.submit 'Salvar', :"data-no-turbolink" => true, class: 'btn btn-login' %>
        <% end %>
    </div>
    <center>
    <%= link_to 'Voltar', get_current_folder %>
</center>
</body>

