<body class="login-bg">
  	<% if @permission.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      		<ul>
      			<% @permission.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
      			<% end %>
      		</ul>
   		</div>
  	<% end %>

    <div class="login-page">
	    <div class="form">
		  	<center>
		        <h3 class="subtitle">
		          	Compartilhamento de <%= @permission.privacy.shareable.name %>
		        </h3>

		        <% flash.each do |key, value| %>
              		<div class="alert alert-<%= key %>">
                		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              			<strong><%= value %></strong>
              		</div>
        		<% end %>

		        <%= form_for(@permission) do  |f| %>               
		            <p><a class="subtitle">Tipo de compartilhamento:</a></p>
		           	<p><%= f.collection_select :status, Permission.statuses.keys.to_a, :to_s, :to_s, {:selected => @permission.status}, {class: "select"}%> </p>

		            <%= f.hidden_field :privacy_id%>
		         
		            <p><a class="subtitle">Compartilhado com:</a></p>
		            <b> <%= User.find(@permission.user_id).first_name %> </b>
		            <br>
		            <br>
		            <!--Submit sign up form button-->
		            <%= f.submit 'Salvar', :"data-no-turbolink" => true, class: 'btn btn-login' %>
		            <%= link_to 'Voltar', get_current_folder, class: 'btn btn-secondary', :onclick => 'refresh()' %>
		        <% end %>
		    </center>
		</div>
    </div>
</body>
