 <body class="login-bg">
 <div class="login-page">
  <center>
    <p id="notice"><%= notice %></p>

    <h3 class="subtitle">Meus compartilhamentos</h3>
    <br>
    <table>

      <% unless @permissions.select{|permission| permission.privacy.shareable.user.id == get_current_user.id}.length == 0 %>

        <thead>
          <tr>
            <th class="subtitle">Documento</th>
            <th class="subtitle">Usuário</th>
            <th colspan="3"></th>
            
          </tr>
        </thead>
        <tbody>
          <% @permissions.each do |permission| %>
            <% if permission.privacy.shareable.user.id == get_current_user.id %>
              <tr>
                <td><%= permission.privacy.shareable.name %>&nbsp &nbsp &nbsp &nbsp</td>
                <td><%= User.find(permission.user_id).first_name %>&nbsp &nbsp &nbsp &nbsp</td>


                <td>
                <%= link_to permission, class: 'btn btn-primary btn-circle btn-sm blue' do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-eye-open white') %>
                <% end %>&nbsp
                </td>
                <td>
                <%= link_to edit_permission_path(permission), class: 'btn btn-info btn-primary btn-circle btn-sm blue' do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-pencil white') %>
                <% end %>&nbsp
                </td>
                <td>
                <%= link_to permission, method: :delete, data: {confirm: 'Você tem certeza?'}, class: 'btn btn-primary btn-circle btn-sm blue' do %>
                <%= content_tag('i', nil, class: 'glyphicon glyphicon-trash') %>
                <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% else %>
        <h3 class="light-silver"><center>Você não compartilhou nenhum arquivo.</center></h2>
      <% end %>
    </table>
    <br>
    </center>
</div>
</body>
