 <div class="login-page">

	<p>
		<h3 class="subtitle">
          Permissões para <%= @permission.privacy.shareable.name %>
         </h3>  
	</p>
	<br>
	<p>
	  <strong class="subtitle">Usuário: </strong>
		  <%= User.find(@permission.user_id).first_name %>
	</p>

	<p>
	  <strong class="subtitle">Tipo de compartilhamento: </strong>
	  	    <%= 'Pode visualizar o arquivo' if @permission.Visualizar? %>
	  		<%= 'Pode editar o arquivo' if @permission.Editar? %>
	</p>
	<br>
	<%= link_to 'Voltar', permissions_path, class: 'btn btn-primary' %>
	<%= link_to 'Editar', edit_permission_path(@permission), class: 'btn btn-primary' %>
  </div>


 