<body class="login-bg">
    <div class="login-page">
      <div class="form">

        <!--Sign up form-->
        <%= form_for(@folder) do |f| %>
            <a class="subtitle">Title:</a> 
            <%= f.text_field :name, :placeholder => @folder.name, :autofocus => true, :required => true, :class => "form-control" %>

            <!--Submit sign up form button-->
            <%= f.submit 'Save', class: 'btn btn-login' %>
        <% end %>

      </div>
    </div>
</body>
<center>
    <%= link_to 'Show', @folder %> |
    <%= link_to 'Back', folders_path %>
</center>


