<nav class="navbar navbar-default navbar-static-top">
	<ul>
		<li>
			<a class="navbar-brand" href="/mytopbox">
        		<%= image_tag('topbox_logo2.png', :size => '118x40', :alt => 'logo') %>
    	</a>


      <li class="form-inline pull-left" style="position:relative; top: 15px;">
        <input class="form-control" type="text" style="max-width:300px" placeholder="Search">           
      </li>
      <li class="form-inline pull-left" style="position:relative; top: 15px;">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
          </span>  
      </li>

    </li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
        <li><a><b style="color: #DAE5F8"><%= current_user.first_name %> <%= current_user.last_name %></b></a></li>
        <li><a href="/mytopbox" style="margin-right: 60px"><b style="color: #DAE5F8">My Topbox</b></a></li>
        <li><a style="margin-right: 60px"><b style="position:relative; top: -15px;""><%= link_to 'Log out', logout_path, method: 'delete' %></b></a></li>
        <!-- <li><b style="color: #DAE5F8"><%= link_to 'Log out', logout_path, method: 'delete' %></b></li> -->
    </ul>
</nav>