<nav class="navbar navbar-default navbar-collapse">
	<ul>
		<li>
			<a class="navbar-brand" href="/mytopbox">
        		<%= image_tag('topbox_logo2.png', :size => '118x40', :alt => 'logo', :onclick => 'refresh()') %>
    	</a>
    </li>
	</ul>


	<ul class="nav navbar-nav navbar-right">
<% unless get_current_user.nil? %>
 <!-- Notification Dropdown -->
      <li>
        <div class="dropdown">

          <% if qnt_unread_notifications > 0 %>
              <button type="button" class='btn btn-lg btn-circle btn-sm' data-toggle="dropdown">
                <content class='glyphicon glyphicon-globe'/>
              </button>
          <% else %>
              <button type="button" class='btn btn-lg btn-circle btn-sm none' data-toggle="dropdown">
                <content class='glyphicon glyphicon-globe'/>
              </button>
          <% end %>
          <ul class="dropdown-menu">
            <%= render :partial => 'notifications/index' %>
          </ul>

          <!-- Notifications counter -->
          <% if qnt_unread_notifications > 0 %>
              <button type="button" class="btn-notify"> <%= qnt_unread_notifications %> </button>
          <% else %>
              <button type="button" class="btn-notify-none"></button>
          <% end %>

        </div>
      </li>
     
      <li><a href="/edit"><b style="color: #DAE5F8"><%= get_current_user.first_name %> <%= get_current_user.last_name %></b></a></li>
        <li class="nav-divider"></li>
      <li><a href="/mytopbox/"><b style="color: #DAE5F8" onclick='refresh()'>Meu Topbox</b></a></li>

      <li><a href=<%=logout_path %> data-method="delete" rel="nofollow" style="margin-right: 60px"><b style="color: #DAE5F8">Sair</b></a></li>
      <% end %>
  </ul>

</nav>
